@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
.edit-w3-download {
    background-color: #0D1326;
    color: #ECF0F6;
    position: fixed;
    top: 0%;
    padding: 10px 15px;
    width: 100%;
    left: 0;
    display: inline-flex;
    max-height: 20%;
    box-shadow: 0.1px 0.1px 6px #0D1326;
    z-index: 9000;
}
.imagenFondo{
    background-image: url(../Imagenes/download1.png);
    width: 32px;
    height: 32px;
    margin-left: 80px;
}
.imagBack {
    padding: 8px 3px 0 0;
}
.imagBack:hover{
    opacity: 0.7;
    filter: alpha(opacity=50);
}
.linea {
    display: inline;
}

.ajuste {
    margin: 5px 3px 15px;
}

.ajuste-nav {
    margin: 0px 3px 0px 2.5%;
    position: fixed;
}

.ajuste-nav-1 {
    padding: 0px 10px 0px 40px;
    position: fixed;
}

.left {
    float: right;
    margin-left: 64.5%;
}

.logo {
    font-family: 'Asap', sans-serif;
    color: #CCCDC7;
    font-size: 32px;
    padding: 0px 10px;
    text-decoration: none;
}
.logo:hover{
    color: #FFFF;
    text-decoration: none;
}
.letras1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #CCCDC7;
    font-size: 20px;
    text-decoration: none;
}
.letras1:hover{
    color: #ECF0F6;
    text-decoration: none;
}
.letras2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #ECF0F6;
    text-decoration: none;
}
.letras2:hover {
    color: #ECF0F6;
    text-decoration: none;
}
.imgLapiz {
    padding: 0px 2px 0 0;
    position: absolute;
}
.imgLapiz:hover{
    opacity: 0.7;
    filter: alpha(opacity=50);
}

.diferente{
    font-size: 20px;
}

@media (min-width:250px){
    /*para dispositovos MAYORES a 250 px*/
    .left {
        float: right;
        margin-left: 0%;
    }
    .ajuste-nav {
        margin: 0px 3px 0px 4%;
        position: fixed;
    }
    .nada1{
        display: none;
    }
    
}
@media (min-width:450px){
    /*para dispositovos MAYORES a 450 px*/
    .left {
        float: right;
        margin-left: 27%;
    }
    .ajuste-nav {
        margin: 0px 3px 0px 4%;
        position: fixed;
    }
    
    
}
@media (min-width:560px){
    /*para dispositovos MAYORES a 560 px*/
    .left {
        float: right;
        margin-left: 37%;
    }
    .ajuste-nav {
        margin: 0px 3px 0px 4%;
        position: fixed;
    }
    
    
}
@media (max-width: 768px) {
    /*para dispositivos MENORES a 768 px, celulares en horizontal o tablets en vertical*/
    
    .ajuste-nav {
        margin: 0px 3px 0px 5%;
        position: fixed;
    }
    .nada{
        display: none;
    }
    
    
}
@media (min-width:768px){
    /*para dispositovos MAYORES a 768 px, tablets en horizontal*/
    .left {
        float: right;
        margin-left: 40%;
    }
    .ajuste-nav {
        margin: 0px 3px 0px 4%;
        position: fixed;
    }
    .nada{
        display: none;
    }
    .nada1{
        display: inherit;
    }
   
}

@media (min-width: 992px){
    /*para dispositivos mayores a 992 px, computadora*/
    .left {
        float: right;
        margin-left: 53.8%;
    }
    .ajuste-nav {
        margin: 0px 3px 0px 2.8%;
        position: fixed;
    }
    .nada{
        display: flex;
    }
    
}
@media (min-width: 1050px){
    /*para dispositivos mayores a 1050 px, computadora*/
    .left {
        float: right;
        margin-left: 57.5%;
    }
    .ajuste-nav {
        margin: 0px 3px 0px 2.8%;
        position: fixed;
    }
   
    
}
@media (min-width: 1110px){
    /*para dispositivos mayores a 1110 px, computadora*/
    .left {
        float: right;
        margin-left: 60%;
    }
    .ajuste-nav {
        margin: 0px 3px 0px 2.2%;
        position: fixed;
    }
    
}

