@import url('https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap');
.footer-sec{
    background: #17181b;
    width: 101.2%;
    margin-left: -7.6px;
}
.content-footer{
    max-width: 1140px;
    display: inline-flex;
}
.freight{
    width: 180px;    
    padding: 80px 15px 80px 120px;
}
.detalles-p{
    width: 180px;
}
.letras-Fr{
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}
.correo:hover{
    color: #fff;
}
.sin-hover:hover{
    text-decoration: none;
    color: #FCBABD;
}
.correo{
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}
.detalles-letra{
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    
}
.navigation{
    width: 180px;    
    padding: 80px 15px 60px 120px;
}
.navi-letras{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #fff;
}
.despliegue-ul{
    display: grid;
}
.detalle-hr{
    border-top: 1px solid rgba(255, 255, 255, 0.36);
    margin-top: 1rem;
    width: 150px;
}
.links{
    width: 180px;    
    padding: 80px 15px 60px 15px;
    text-align: left;
}
.privacidad{
    padding: 1vw;
    background: #11d491;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-left: -7.6px;
    width: 99.1%;
}


@media (max-width: 768px) {
    /*para dispositivos MENORES a 768 px, celulares en horizontal o tablets en vertical*/
    .freight{
        width: 180px;    
        padding: 80px 15px 20px 120px;
    }
    .content-footer{
        max-width: 1140px;
        display: block;
    }
    .navigation{
        width: 180px;    
        padding: 10px 15px 10px 120px;
    }
    .links{
        width: 180px;    
        padding: 10px 15px 10px 120px;
    }
    .links1{
        width: 180px;
        padding: 10px 15px 10px 120px;
    }
}

@media (min-width:768px) {
    /*para dispositovos MAYORES a 768 px, tablets en horizontal*/
    .freight{
        width: 180px;    
        padding: 80px 15px 20px 120px;
    }
    .content-footer{
        max-width: 1140px;
        display: block;
    }
    .navigation{
        width: 180px;    
        padding: 10px 15px 10px 120px;
    }
    .links{
        width: 180px;    
        padding: 10px 15px 10px 120px;
    }
    .links1{
        width: 180px;
        padding: 10px 15px 10px 120px;
    }
    .abajo{
        display: flex;
    }
}

@media (min-width: 992px) {
    /*para dispositivos mayores a 992 px, computadora*/
    .content-footer{
        max-width: 1140px;
        display: inline-flex;
    }
    .navigation{
        width: 180px;    
        padding: 80px 15px 60px 120px;
        margin-left: 10%;
    }
    .links{
        width: 250px;
        padding: 80px 15px 60px 120px;
    }
    .links1{
        width: 250px;
        padding: 80px 15px 60px 50px;
    }
    
}

@media (min-width: 1050px) {
    /*para dispositivos mayores a 1050 px, computadora*/
}

@media (min-width: 1110px) {
    /*para dispositivos mayores a 1110 px, computadora*/
    .content-footer{
        max-width: 1140px;
        display: inline-flex;
    }
}



