@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat+Alternates&display=swap');

.card-p{
  border: 0;
  margin: 2% 2% 0 0;
  width: 30%;
}

.card-p:hover {
  box-shadow: 0px 15px 30px 0px rgba(109, 108, 108, 0.5); 
}

.card-l {
 border: 0;
}

.head-card {
  position: relative;
}
.h4-black {
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: capitalize;
  font-size: 2.3em;
  font-weight: 600;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.label-post {
  position: absolute;
  line-height: 3;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0px 12px;
  text-transform: capitalize;
  background: hsla(357, 0%, 2%, 0.28);
  color: #fff;
}

.btn-read, .btn-read:hover {
  background-color: #11d491;
  border-radius: 0;
  border: 0;
  border-color: unset;
}

.p-center, .h1-black, .card-title, .card-text, .h4-black {
  text-align: center;
}

.pc-title {
  color: #fc636b;
  font-family: sans-serif;
}

.pc-body {
  font-family: 'Lato', sans-serif;
  background-color: #e6ebff;
  color: rgb(167, 164, 164);
}

.lc-title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #272a2f;

}

.lc-body {
  background-color: #d3d0d3;
  color: #2c2e31;
}

.img-latest {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.img-link:hover {
    box-shadow: 0px 0px 0px 0px rgba(245, 243, 243, 0.308);
}
