.wwo-images{
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: -40px;
}
.div-img{
	box-sizing: border-box;
}
.wwo-img{
	border: solid 4px white;
	border-radius: 2px;
	width: 100%;
}
.text-img{
	box-sizing: border-box;
	color: black;
	font-family: 'Lato', sans-serif;
	margin-top: 19.2px;
	text-align: center;
	max-width: 100%;
}
.img3{
	margin: 0 auto;
}

@media (max-width: 575px){
  .div-img{
  	padding-left: 15px;
	padding-right: 15px;
  }
}
@media (min-width: 576px){
  .wwo-images{
  	padding-left: 12px;
	padding-right: 12px;
  }
}
@media (min-width: 699px){
  .text-img{
	font-size: 14.4px;
  }
}
@media (max-width: 699px){
  .text-img{
  	font-size: 14.4px;	
  }
}
@media (min-width: 700px){
  .text-img{
  	font-size: 16.8px;	
  }
}
@media (min-width: 784px){
  .text-img{
  	font-size: 19.2px;	
  }
}

