.wwo-section{
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 9%;
}
.wwo-container{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin: auto;
	padding: 0;
}
.wwo-title{
	color: #212529;
    font-size: 2.1em;
    font-weight: 600;
    margin: 0 auto;
    padding: 0;
}
.wwo-subtitle{
	color: #999;
	font-size: 14px;
	margin: 0 auto;
	padding: 0;
}
.wwo-icon{
	margin-top: 20px;
	margin: 0 auto;
	padding: 0;
}
.circle{
	border: 2px solid gray;
	border-radius: 50%;
	/*Para alinear el icono*/
    align-items: center;
    display: flex;
    justify-content: center;
    /*^^^^^^^^^^^^^^^^^^^^^^*/
}
.icon{
	color: #11d491;
}
.text-icon{
	margin-left: 16px;
	padding: 0;
}
.title-icon{
	color: #212529;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}
.subtitle-icon{
	color: #999;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
}
.div-btn{
    display: flex;
    justify-content: center;
}
.btn-view2{
	background: #11d491;
	border: none;
	box-sizing: border-box;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 36px;
	margin: auto;
	margin-top: 7%;
	padding: 5px 43px;
	text-align: center;
	width: 175px;
}
.btn-view2:hover{
	opacity: 0.9;
	cursor: pointer;
}
@media (max-width: 991px){
	.wwo-circle{
		align-items: center;
	    display: flex;
	    justify-content: center;
	}
}
@media (min-width: 634px){
	.circle{
		height: 80px;
		width: 80px;
	}
	.icon{
		font-size: 25px;
	}
}
@media (max-width: 633px){
	.circle{
		height: 60px;
		width: 60px;
	}
	.icon{
		font-size: 20px;
	}
}
@media (min-width: 576px){
	.wwo-container{
		margin-bottom: 4%;
	}
}
@media (max-width: 575px){
	.wwo-container{
		margin-bottom: 8%;
	}
}
@media (max-width: 320px){
	.circle{
		height: 42px;
		width: 42px;
	}
	.icon{
		font-size: 15px;
	}
}

